Src/BudgetSystem/BudgetSystem/Properties/licenses.licx
Src/BudgetSystem/BudgetSystem/bin/
Src/BudgetSystem/BudgetSystem/obj/
bin/
Src/BudgetSystem/Localization/obj/
*.cache
*.suo
*.pdb
Src/BudgetSystem/BudgetSystem.Bll/obj/
Src/BudgetSystem/BudgetSystem.Dal/obj/Debug/BudgetSystem.Dal.csproj.FileListAbsolute.txt
Src/BudgetSystem/BudgetSystem.Dal/obj/Debug/BudgetSystem.Dal.dll
Src/BudgetSystem/BudgetSystem.Entity/obj/Debug/BudgetSystem.Entity.dll
Src/BudgetSystem/BudgetSystem.Entity/obj/Debug/BudgetSystem.Entity.csproj.FileListAbsolute.txt
Src/BudgetSystem/BudgetSystem.Util/obj/
Src/BudgetSystem/packages/
Src/BudgetSystem/BudgetSystem.Dal/obj/
上服数据信息.zip
上服数据信息/360截图17991018527775.png
上服数据信息/临时供方列表.png
上服数据信息/买方格式维护.csv
上服数据信息/合格供方表格.png
上服数据信息/国家地区维护.csv
上服数据信息/已审批.png
上服数据信息/待审批.png
上服数据信息/微信图片_20181011171631.jpg
上服数据信息/微信图片_20181011171653.jpg
上服数据信息/微信图片_20181011171700.jpg
上服数据信息/微信图片_20181011171717.jpg
上服数据信息/港口信息.csv
上服数据信息/货运供方表格.png
上服数据信息/预算单列表.csv
上服数据信息/预算单查询表.csv
上服数据信息/预算单表.png
上服数据信息/预警信息表.png
上服数据信息/（预算单）财务平账征求表.png
上服数据信息/微信图片_20181018210129.jpg
上服数据信息/微信图片_20181018210154.jpg
上服数据信息/微信图片_20181018210206.jpg
Src/BudgetSystem/BudgetSystem/BudgetSystem.csproj.user
*.user
Src/BudgetSystem/BudgetSystem/App.config
Src/BudgetSystem/.vs/BudgetSystem/v15/Server/sqlite3/db.lock
Src/BudgetSystem/.vs/BudgetSystem/v15/Server/sqlite3/storage.ide
Src/BudgetSystem/.vs/BudgetSystem/v15/Server/sqlite3/storage.ide-shm
Src/BudgetSystem/.vs/BudgetSystem/v15/Server/sqlite3/storage.ide-wal
Src/BudgetSystem/BudgetSystem/App.config
Src/BudgetSystem/BudgetSystem/App.config
